<h1>New Location</h1>

<form action="/create_location">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="address">address</label><br />
    <input id="address" name="address" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

